ORIGIN=https://playground.tempo.local
RP_ID=playground.tempo.local
MPP_SECRET_KEY=secret-key
# note: "test test ..." mnemonic private key
PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80
VITE_ENV=testnet
VITE_CONNECT_HOST=https://wallet.tempo.local
VITE_REF_DIALOG_HOST=https://dialog-ref.tempo.local
