ORIGIN=https://localhost:5173
RP_ID=localhost
MPP_SECRET_KEY=secret-key
# note: "test test ..." mnemonic private key
PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80
VITE_ENV=testnet
VITE_WALLET_HOST=https://wallet-next.tempo.xyz/remote
VITE_REF_DIALOG_HOST=https://dialog-ref.accounts.local
