BYPASS_EMAIL_OTP=true
DATABASE_URL=postgres://tempo:tempo@host.docker.internal:5432/tempo
MAILGUN_API_KEY=
MAILGUN_DOMAIN=
# note: test key pair
SESSION_PRIVATE_KEY={"key_ops":["sign"],"ext":true,"alg":"Ed25519","crv":"Ed25519","d":"X4r_1njmh53RSO6lQSqJAWOsrUMwoPZdzOEIY5JDJVE","x":"isqJogp6bz4xx5aIxG6sR7YiPMNm2qKFZL7LiWJfh68","kty":"OKP"}
SESSION_PUBLIC_KEY={"key_ops":["verify"],"ext":true,"alg":"Ed25519","crv":"Ed25519","x":"isqJogp6bz4xx5aIxG6sR7YiPMNm2qKFZL7LiWJfh68","kty":"OKP"}
