BYPASS_EMAIL_OTP=true
DATABASE_URL=postgres://tempo:tempo@host.docker.internal:5432/connect
MAILGUN_API_KEY=
MAILGUN_DOMAIN=
RELAY_API_KEY=
# note: anvil account[0] — "test test test ... junk" mnemonic
RELAY_PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80
# note: test key pair
SESSION_PRIVATE_KEY={"key_ops":["sign"],"ext":true,"alg":"Ed25519","crv":"Ed25519","d":"X4r_1njmh53RSO6lQSqJAWOsrUMwoPZdzOEIY5JDJVE","x":"isqJogp6bz4xx5aIxG6sR7YiPMNm2qKFZL7LiWJfh68","kty":"OKP"}
SESSION_PUBLIC_KEY={"key_ops":["verify"],"ext":true,"alg":"Ed25519","crv":"Ed25519","x":"isqJogp6bz4xx5aIxG6sR7YiPMNm2qKFZL7LiWJfh68","kty":"OKP"}
TEST_BRIDGE_PRIVATE_KEY=